<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body class="clase">
    
    <div class="encabezado">
     <img class="logo" src="../../assets/img/logo.PNG" alt="">
     <h1 class="amazona">Amazona.com</h1>
    </div>

     <section>
      <div class="container my-5">
        <div class="row justify-content-end">
          <div class="col-12 col-md-2 text-end">
            <h6 id="usuario">Usuario</h6>
          </div>
          <div class="col-12 col-md-2 text-start">
            <button id="botonSalir" type="button" class="btn btn-primary "><i class="bi bi-box-arrow-in-left"></i> Salir</button>
          </div>
        </div>
      </div>
    </section>
  

     <section>
      <div class="container mt-5">
        <div class="row">

          <div class="col-12 col-md-8">
            <h3>BIENVENIDO</h3>
            <P>Te invitamos a registrarte en nuestra web, te facilita la inscripción para recibir actualizaciones y nuevos productos en nuestra tienda, además podrás consultarnos y comentar en los diversos artículos de noticias y eventos!</P>
            <button class="btn btn-primary"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-arrow-down-right-square-fill"></i> registrate</button>
          </div>

          <div class="col-12 col-md-4 ">
           
          </div>



        </div>
      </div>
    </section>
  
     <section>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Registrate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <form action="" id="formulario">
              <div class="mb-3">
            
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" >
              </div>
              <div class="mb-3">
                <label  class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" >
              </div>
              <button type="submit" class="btn btn-primary" id="botonRegistro">Registrate</button>
            </form>
           </div>
           <div>
    </section>
  
    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-8">
            <h3>Logueate</h3>
            <button class="btn btn-primary"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLoguin" aria-controls="offcanvasLoguin"><i class="bi bi-arrow-down-right-square-fill"></i> logueate</button>
          </div>
          <div class="col-12 col-md-4 aligne-self-center">
            
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLoguin" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLogueate">Logueate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <form action="" id="Logueo">
              <div class="mb-3">
                <label class="form-label">Ingresa tu Correo</label>
                <input type="email" class="form-control" id="logcorreo" >
              </div>
              <div class="mb-3">
                <label  class="form-label">Ingresa tu Contraseña</label>
                <input type="password" class="form-control" id="logpassword" >
              </div>
              <button type="submit" class="btn btn-primary" id="botonLogueo">Logueate</button>
            </form>
           </div>
          </div>  
    </section>
  
   
   
   <div class="container mt-5">
    <div id="fila" class="row row-cols-1 row-cols-md-3 g-3">
    </div>
   </div>


   <footer class="final">
    <div class="row-1">
      <div class="col-1 d-block mx-auto">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
      </div>
      <div>
        <p class="autor"> Diseño de Alejandra Henao</p>
        <div class="pie">
        <a href="">Sobre nosotros </a>  <a href="">Publicidad</a>     <a href="">Política de Privacidad  </a>    <a href="">Términos y Condiciones</a>    <a href=""> Políticas de Privacidad de Cookies</a>  </div>
      </div>
    </div>
  </footer>


<script src="../services/conexionFireBase.js" type="module"></script>
<script src="../services/registro.js" type="module"></script>
<script src="../services/logout.js" type="module"></script>
<script src="../services/login.js" type="module"></script>
<script src="../../src/services/observadorEstado.js" type="module"></script>
<script src="../controllers/aprendiendoArrayMetodos.js"></script>
<script src="../controllers/ampliarInformacion.js"></script>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>